*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html, body{
    height: 100%;
}

body{
    text-align: left;
    color: #ccc;
    background-color: rgba(219, 114, 39, 0.76);
    font-size: 100%;
    background-color: #fff;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.full{
    height: 75px;
    width: 100%;
    background-color: #a12283;
}

#page_wrap {
    min-height: 100%;
}

#footer{
    background-color: #f252ec;
    position: relative;
    height: 100px;
}

.mainheader{
    margin: 0;
    padding: 0;
    text-decoration: none;
    min-height: 70px;
    background-color: #a12283;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.mainheader nav ul li{
    display: inline;
    float: left;
}

.mainheader nav a:link, .mainheader a:visited{
    color:#fff;
    display: inline-block;
    padding: 22px 15px;
    font-weight: bold;
    
}

.mainheader nav a:hover, .mainheader a:active, .mainheader nav .active a:link, .mainheader .active a:visited{
    text-shadow: none;
    color:#020300;
}



.logo {
    font-weight: bold;
    font-size: 23px;
    padding:2px 15px !important;
    border-left: 1px solid #b13293;
}

.logo:hover, .search:hover{
    background-color: #770f5f;
}

#basket:hover{
    background-color: #d3074e;
}

.search {
    color: #fff;
    font-weight:400;
    font-size: 15px;
    padding:22px 20px !important;
    border-left: 1px solid #b13293;
}



.search input{
    color: #a12283 !important;
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
    font-weight: bold !important;
    width: 280px;
    height: 25px;
}

.searchb{
    background-image: url("../images/search_icon.png");
    background-size: 85%;
    width: 35px;
    height: 30px;
    cursor: pointer;
    position: relative;
    right: 33px;
    float: right;
    top:0px;
}


#basket{
    color: #fff;
    font-size: 15px;
    border-left: 1px solid #b13293;
    position: relative;
    cursor: pointer;
    border-right: 1px solid #b13293;
    width: 131px;
    height: 73px;
    z-index: 2;
}

.help, .register, .login{
    color: #fff;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    width: 78px;
    height: 73px;
}

#basket span{
    position: absolute;
    right: 6px;
    top:25px;
}

.bicon{
    background-image: url("../images/shop-cart-icon.png");
    background-size: 95%;
    width: 39px;
    height: 39px;
    cursor: pointer;
    position: relative;
    right: 77px;
    float: right;
    top:15px;
}

.bbt{
    position: absolute;
    right: 20px;
    top: 30px;
}


.basket{
    width: 200px;
    height:63px;
    background: #d3074e;
    position: absolute;
    right: 0px;
    bottom: -63px;
    display: none;
}

.pbt{
    padding: 2px 34px;
    margin-bottom: -11px;
}

#menuheader{
    position: absolute;
    margin-top: 20px;
    margin-left: 200px;
    color: #000;
    z-index: 1;
    background-color:rgba(245, 233, 83, 0.79);
}

#menuheader ul li{
   /* background-color:darksalmon;*/
    width: 120px;
    height:35px;
    line-height: 35px;
    text-align: center;    
    float: left;
    margin-right: 10px;
    position: relative;
}

#menuheader ul li a{
    color:darkgreen;
    display: block;
}

#menuheader ul li a:hover{
    color:red;
}

#menuheader ul ul{
    position: absolute;
    display: none;
}

#menuheader ul ul li{
    text-align: left;
    background-color: white;
    padding-left: 12px;
}


#menuheader ul li:hover > ul
{
    display: block;
}

#menuheader ul ul ul{
    margin-left: 120px;
    top:0px;
}




/*----- Home page slider-----*/

#slideshow { 
    position: relative; 
    margin-top: 120px;
    width: 98%; 
    height: 300px; 
    padding: 10px 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}



/*---------------------------*/

/*-----Watches------------------*/
#container{
				height:1500px;
				width:1200px;
				margin:auto;
                margin-top: 90px;
			}
			
			.btn {
    background-color: white;
	border:none;
    padding: 10px 12px;
    font-size: 10px;
    cursor: pointer;
}

/* Green */
.success {
  
    color: green;
}

.success:hover {
    background-color: #4CAF50;
    color: white;
}

/* Blue */
.info {
    border-color: #2196F3;
    color: dodgerblue
}

.info:hover {
    background: #2196F3;
    color: white;
}

.grid_border img{
height:280px;
width:180px;

}

.grid_border img:hover{
height:280px;
width:180px;
    

}

.grid-heading{
    color: black;
    font-weight: bold;
}

.grid-sub-heading{
    color: black;
    font-weight: bold;
}

/*-------------------------------------*/

/*--------Login form--------------*/

/*---------------------------------*/
/*-------------Footer-------------*/
.col-container {
    display: table;
    width: 100%;
}
.col {
    display: table-cell;
    padding: 16px;
}


/*----------------------------------*/